/* General */
* {
    box-sizing: border-box;
}

body {
  margin: 0;
  background: -webkit-linear-gradient(#eee, #EAE6DA);

}

#header-text, #header-text-portfolio { 
    padding: 10px 0 5px 0;
    background: -webkit-linear-gradient(#eee,#D4AF37);
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
  }

#image-section {
    max-width: 100%;
    max-height: 100%;
    /* margin-left: 10%; */
  }


#image-section-caption {
    padding: 32% 0 32% 0;
    background: linear-gradient(to right, peru 0%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Gloria Hallelujah', cursive;
}


.caption {
    position: absolute;
    top: 50%;
    right: 41.25%;
    padding: 3px;
  }

#open-form {
    background: pink;
    color: white;
    padding: 10px;
    font-weight: bolder;
}

.mission-statement {
    border-top: 0.15px solid #EEE8AA;
    border-bottom: 0.15px solid #EEE8AA;
    margin: 0px 20% 0 20%;
    padding: 10px 10px 5px 10px;
    background: linear-gradient(to right, peru 0%, pink 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  /* #home-page {
      margin-bottom: 5%;  
  } */

.profile-pic {
    border-radius: 60%;
    width: 25%;
    height: auto;
    margin-top: 10%;  
}

#intro-text {
    margin: 2%;
    color: peru;
}

    
#portfolio-page {
    margin-bottom: 20%; 
    /* padding-bottom: 5%;  */
}


#portfolio-caption {
    color: #00bfff;
}

#image-wrapper {
    width: 60%;
    height: auto;
    margin: 0 20% 10% 20%;
}

#portfolio-page, #header-text-portfolio {
    /* background: -webkit-linear-gradient(#eee, pink); */
    padding: 3%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}


/* Opacity with Box */
.p-container {
    position: relative;
    width: 100%;
  }

.p-image {
    opacity: 1;
    display: block;
    /* max-width: 100%;
    height: auto; */
    transition: .5s ease;
    backface-visibility: hidden;
    /* padding-right: 20%; */

    height: 100%;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    width: 100%;

  }
  
.p-middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #061D25;
  }
  
.p-container:hover .p-image {
    opacity: 0.3;
  }
  
.p-container:hover .p-middle {
    opacity: 1;
  }
  
.p-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

footer {
    background: #061D25;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

footer a {
    color: #70726F;
    font-size: 25px;
    padding: 10px;
    /* border-right: 1px solid #70726F; */
    transition: all .5s ease;
}

footer a:hover {
    color: white;
}

.footer-text {
    font-family: 'Gloria Hallelujah', cursive;
    color: #70726F;
    font-size: 12px;
    margin: 5px;
}


#github-size {
    font-size: 35px;
    color: white;
}


#logo-focus {
    color: pink;
    background: white;
}

#nav-size {
    padding: 0 10% 0 10%;
    background: transparent;
    /* color: white */
    font-weight: bold;
    display: center;

  }


  #about-focus, #portfolio-focus {
    font-family: 'Gloria Hallelujah', cursive;
    background: white; 
    border-radius: 60%;
    margin-right: 10px; 
    text-align: left;
    border-bottom: solid 5px #70726F;
    /* margin-left: 20%; */
  }


  .header-text {
    font-weight: bold;
  }

  .smaller-text {
    font-size: 12px;
  }

  #specific-text {
    font-size: 12px;
     margin: 0;
     padding: 4px;
  }


  #contact-me {
    font-size: 35px;
    margin: 10px;
    padding: 10px;
    /* color: peru; */

  }

  #contact-me a {
    color: peru;
  }

  #contact-me a:hover {
    color: #061D25;
  }
